# rootaika macOS Screen Time collector -asetukset.
# Kopioi nimellä config.env samaan hakemistoon ja täytä arvot.
# config.env on .gitignoressa: henkilönimet ja salasanat eivät päädy repoon.

# Jäsenten etunimet pilkuilla (popupin type-select + laite-UUID:n johto)
ROOTAIKA_MEMBERS='Etunimi1,Etunimi2,Etunimi3'

ROOTAIKA_SERVER_URL='http://192.168.68.199:8080'
ROOTAIKA_CLIENT_USERNAME='client'
ROOTAIKA_CLIENT_PASSWORD='client'

# Luettava ikkuna päivinä (tänään + N-1 taaksepäin)
#ROOTAIKA_DAYS=7
